
main{
    margin-top: 1.4rem;
}

main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 0.6rem;
}

main .data input[type='date']{
    background: transparent;
    color: var(--color-dark);
}
