a{
  color: var(--color-dark);
}

img{
  display: block;
  width: 100%;
}

h1{
  font-weight: 800;
  font-size: 1.8rem;
}

h2{
  font-size: 1.2rem;
}

h3{
  font-size: 0.87rem;
}

h4{
  font-size: 0.8rem;
}

h5{
  font-size: 0.77rem;
}

small{
  font-size: 0.75rem;
}

.profile-picture{
  width: 2rem;
  height: 2 rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.text-muted{
  color: var(--color-info-dark);
}

p{
  color: var(--color-dark-variant);
  font-size: 0.8rem;
}

b{
  color: var(--color-info-dark);

}

.primary{
  color: var(--color-primary)
}

.danger{
  color: var(--color-danger);
}

.success{
  color: var(--color-success);
}

.warning{
  color: var(--color-warning);
}

table{
  font-size: 0.8rem;
}

.App{
  display: grid;
  width: 100%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem; 
}

#support-request-floating{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--color-primary);
  color: white;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-weight: 700;
  box-shadow: var(--box-shadow);
  z-index: 10;
}


/* ------------------------------ MEDIA QUERIES ------------------------------ */

@media screen and (max-width: 1200px) {
  .App{
    width: 100%;
    grid-template-columns: 7rem auto 23rem;
  }
  
}
@media screen and (max-width: 768px) {
  .App{
    width: 100%;
    grid-template-columns: 1fr;
  }
  
}
